.post-list{
    display: grid;
    grid-template-columns: 100%;   
}

.post{
    display: grid;
    grid-template-areas: "image info";
    grid-template-columns: 40% 60%;
    background:#202020;
    padding:6px;

    min-height: 40px;
    max-height: 200px;
    overflow: hidden;
    align-content: center;
    align-items: center;
    text-align: justify;
    margin-bottom: 12px;
}

.post img{
    height:100%;
    width:auto;
}

.post .image{
    width:100%;
    overflow: hidden;
}

.post  > .info > .date{
    position: absolute;
    top: -4px;
    right:2px;
    text-align: right;
    font-size: 8pt;
    opacity: 0.6;
    height: 100%;
    align-items: flex-start;

}

.post > .info > .description{
    margin-bottom: 6px;
    overflow: hidden;
    font-size: 12pt;
}

.post a{
    color:#FFF;
    opacity: 0.6;
    font-size: 10pt;
}


.info{
    padding-left: 10px;
    position: relative;
}

.title{
    text-transform: uppercase;
    margin-top:0px;
    margin-bottom: 10px;
    font-size: 16pt;
    padding-left: 0px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    .post{
        grid-template-columns: 20% 80%;
        padding:2px;
        margin-bottom: 6px;
    }
}

/*button*/