.contacts{
    height: 100%;
   
    width: 100%;
    min-height:100%;
 
}

.contacts-list{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(Calc(33%-6px),3);
    grid-row-gap: 6px;
}

.contact-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    width: 100%;
    color:#FFF;
    border-radius: 2px;
    opacity: 0.8;
}

.contact-button:hover{
    opacity: 1;
}
.contact-button i{
    font-size: 30px;
}

.whatsapp{
    background: #56E65D;
}

.facebook{
    background: #345BAC;
}

.slack{
    background: #CF0E5B;
}

.contact-content {
    display: none;
    transform: translate(-50%,0%);
    position: absolute;
    background-color: #fafafa;
    color:#333;
    min-width: 160px;
    border-radius: 1px;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.4);
    padding: 6px 10px;
    z-index: 10;
    opacity: 0;
    width:0;
}

.contact-button:hover .contact-content {
    display: flex;
    opacity: 1;
    align-content: center;
    align-items: center; 
    justify-content: left;
    width: auto;

}
.contact-content i {
    font-size: 12pt;
    padding: 5px;
    float: right;
    justify-self: right;
}

.contact-content i:hover{
    background: #eee;
}

/*mobile*/
@media only screen and (max-width: 768px) {
    .contacts-list{
        height: 100%;
        display: flex;
    }
    .contact-button{
        border-radius: 0px;
    }

    .contact-content {
        
        transform: translate(0,-50%);
    }
} 