.team-header{
    color:#FFF;
    width: 100%;
    overflow: hidden;
    align-content: center;
    align-items: center;
    text-align: left;
    position: relative;

    display: grid;
    grid-template-columns: 20% 80%;

    height: 220px;
}

.team-header > .logo{
    margin-top:10px;
    margin-bottom: 20px;
    position: relative;
    align-content: center;
    display: flex;
    justify-content: center;
    padding:0px;
}

.team-header > .logo > .image{
    width: 100%; 
    text-align: center; 
    position: relative; 
    padding-bottom: 100%; 
    border-radius: 50%;
    background:#f0f0f0;
}

.team-header > .logo > .image > img{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.team-header .team-name{
    font-size: 24pt;
    width: 100%;
    padding-top:5px;
    padding-bottom: 12px;
    font-weight: 400;
}

.team-header > .description{
    font-size: 14pt;
    font-weight: 100;
    color:rgba(255,255,255,0.75);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 12px;
}

.link{
    width:100%;
    text-align: left;
}
.link > a{
    font-size: 16pt;
    color: rgb(144, 180, 209);
    transition: 1s;
    margin-right:15px;
}

.link > a:hover{
    color: #FFF;
    cursor: pointer;
}

.logo-edit{
   color:#fff;
   position: absolute;
   bottom:0px;
   left:Calc(50% + 50px);
   visibility: hidden;
   opacity: 0;
   transition: 0.5s;
}

.logo:hover .logo-edit{
    color:#FFF;
    visibility: visible;
    opacity: 1;
}

.team-description{
    font-size: 14pt;
    color:rgba(255,255,255,0.75);
    margin-bottom: 12px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left:0px;
    margin-bottom: 12px;
}

.mockup{
    background-color: #f0f0f0 !important;
}
.name-mockup{
    background: #f0f0f0;
    width: 50%;
    height: 30pt;
    border-radius: 3px;
    margin-bottom: 15px;
}

.description-mockup{
    background: #f0f0f0;;
    width: 80%;
    height: 20pt;
    border-radius: 3px;
    margin-bottom: 15px;
}

.link-mockup{
    background: #f0f0f0;
    height: 14pt;
    width:25%;
    border-radius: 3px;
}

/*mobile*/
@media only screen and (max-width: 768px) {
    .team-header{
        margin-bottom:0px;
        margin-top:10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .team-header > .logo {
        width:50%;
        max-width: 200px;
        min-width: 150px;
    }


} 