.member-card{
    align-content: center;
    justify-content: center;
    text-align: center;
    padding:5px;
    color:#111 !important;
}

.member-card-image{
    width:100%;
    display: flex;
    justify-content: center;
}

.member-card-image > img{
    width:80%;
    top:0px;

    height: 0 auto;
    align-self: center;
    float:center;
}

.member-card .member-contact{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.member-contact i{
    color:#ccc;
}

.link-active i{
    color:#222;
}

.editor-text{
    width:100%;
}