.member-card{
    position: relative;
    display: block;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding:5px;
    color:#111 !important;
    height: auto;
    
}

.card-edit{
    padding-bottom: 30px;
}

.member-card .image{
    width:100%;
    display: flex;
    justify-content: center;
}

.member-card  .image img{
    width:50%;
    top:0px;
    min-width:40px;
    max-width: 125px;
    height: 0 auto;
    align-self: center;
    float:center;
    margin-top:12px;
    margin-bottom:12px;
    border-radius: 50%;
}

.member-card .name{
    font-size: 22pt;
    font-weight: bold;
    line-height: 22pt;
}

.member-card .role{
    font-size: 16pt;
    color:#666 !important;
}
.member-card .contact{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


.contact i{
    color:#ccc;
}

.link-active i{
    color:#222;
}

.editor-text{
    width:100%;
}

/*mobile*/
@media only screen and (max-width: 768px) {
    .member-card{
        display: grid;
        justify-content: left;
        text-align: left;

        grid-template-areas: "image name role"
                             "image contact contact";
        grid-template-rows: auto auto;
        grid-template-columns: 80px auto;
    }

    .member-card .contact{
        width: 100%;
        display: flex;
        justify-content: end;
        flex-direction: row;
        grid-area: contact;
        float: right;
    }

    .member-card .image{
        grid-area: image;
    }

    .member-card .image img{
        width:80px;
        height: 80px;
        padding: 0px;
        margin:0px;
        align-self: center;
        float:center;
        border-radius: 50%;
    }

    .member-card .name{
        display: flex;
        font-size: 14pt;
        grid-area: name;
        margin-left:15px;
        line-height: 18pt;
    }

    .member-card .role{
        display: flex;
        justify-content: center;
        grid-area: role;
        font-size: 12pt;
        margin-left: 5px;
        width: 100%;
        line-height: 18pt;
    }
} 