.menu-navbar{
    top:0px;
    position: fixed;
    width:100vw;
    background:#FFF;
    backdrop-filter: blur(10px);
    left:0px;
    padding-left:12px;
    padding-right:8px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:30px;
    display: flex;
    z-index: 10;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
}

.menu-right{
    display: flex;
    justify-content: right;
    width: 0 auto;
    height: 100%;
    margin-right: 10px;
    position: absolute;
    right: 0;
    font-size: 16pt;
}
