
.post{
    width:100%;
    display: flex;
    flex-direction: column;
    max-height: 340px;
    height: auto;
    overflow: hidden;
    align-content: center;
    align-items: center;
    text-align: justify;
    color: #333;
    padding:0px;
}

.post .image{
    width:100%;
    overflow: hidden;
    display: flex;
    background:#f0f0f0;
    justify-content: center;
    height: 20%;
    max-height: 150px;
    min-height: 100px;
}


.image > img{
    width:100%;
    object-fit: cover;
}   

.post  > .info > .date{
    position: absolute;
    top: -22px;
    height: 22px;
    right:0px;
    padding:5px;
    text-align: right;
    font-size: 8pt;
    align-items: flex-start;
    background:#FFF;
    border-radius:2px 2px 0px 0px;
}

.post > .info > .post-content{
    margin-bottom: 6px;
    overflow: hidden;
    font-size: 12pt;
    padding:20px;
    max-height: 130px;
}

.post a{
    color:#0af;
    opacity: 0.6;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}


.info{
    padding-left: 10px;
    padding-right:10px;
    padding-bottom:10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;

    align-items: flex-start;
}

.info > .title{
    margin-top:5px;
    margin-bottom: 5px;
    font-size: 12pt;
    text-align: center;
    width:100%;
    font-weight: bold;
}

.action-button-add-post{
    position: fixed;
    z-index: 8;
    bottom:10px;
    right:10px;
    transition: 0.5s;
    background: #000;
    width:50px;
    height:50px;
    border-radius: 50%;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.8);
    display: flex;
    color: #fff;
    align-items: center;
   justify-content: center;
}

.action-button-add-post:hover{
    cursor: pointer;
    background: #FFF;
    color: #000;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.8);
    width:60px;
    height:60px;
    bottom:5px;
    right:5px;
}

#action-button-bg{
    fill: rgba(0,0,0,0.7);
    transition: 0.5s;
}

.action-button-add-post:hover #action-button-bg{
    fill: rgba(0,0,0,1);
}

@media only screen and (max-width: 700px) {
    .action-button-add-post{
        bottom:20px;
        right:20px;
        width:60px;
        height:60px;
    }
    
    .action-button-add-post:hover{
        bottom:20px;
        right:20px;
        width:80px;
        height:80px;
    }
}

.post-editor{
    width: 80%;
    height: auto;
    min-height: 400px;
}