body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #222;
  color:#FFF;
  width:Calc(100% - 24px);
  font-family: 'Abel', sans-serif;
  margin-left:12px;
  margin-right: 12px;
  margin-top:60px;
  overflow-x: hidden;
/*font-family: 'Open Sans', sans-serif;*/
}

html{
  margin:0;
  padding: 0;
  width:100vw;
  overflow-x:hidden;
}

.popup-content{
  padding:10px;
  max-width: 300px;
}
/*standard colors for the platform*/
.editable-text{
  text-align: left;
  width:90%;
}
